.medias{
    border: 1px solid black;
    width: 50%;
    background-color: black;
}
#people{
    width: 50%;
}
img{
    width:60px;border-radius: 50%;
}
a:hover {
    text-decoration: none;
    color: black;
  }
a:link{

    text-decoration: none;
    color: black;
}
